<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean id="myAccount" class="com.home.model.SavingAccount" autowire="byType" scope="prototype" init-method="onInit" destroy-method="onDestroy">
   
  <!--  Constructor Injection  -->
   <!--   <constructor-arg ref="myCard"> </constructor-arg>  -->    
     
	<!-- setter injection  -->
 <!--  <property name="atmCard" ref="myCard"/> -->
  
     </bean>
   <bean id="myCard" class="com.home.model.ATMCard">
   </bean>
   </beans>